[Unit]
Description=Miniflux (feed aggregator) Container
Requires=db.service
After=db.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Container]
AutoUpdate=registry
ContainerName=miniflux
Image=docker.io/miniflux/miniflux:2.2.18
Volume=/home/app/wallabag/images:/var/www/wallabag/web/assets/images
Environment=RUN_MIGRATIONS=1
Environment=LOG_LEVEL=debug
Environment=CREATE_ADMIN=1
Environment=ADMIN_USERNAME=admin
Environment=BASE_URL=https://rss.corvus-buri.ts.net
Environment=DISABLE_LOCAL_AUTH=true
Environment=OAUTH2_PROVIDER=oidc
Environment=OAUTH2_PROVIDER_NAME=maisie.dog
Environment=OAUTH2_OIDC_DISCOVERY_ENDPOINT=https://login.maisie.dog/
Environment=OAUTH2_REDIRECT_URL=https://rss.corvus-buri.ts.net/oauth2/oidc/callback
Environment=OAUTH2_USER_CREATION=1
Environment=METRICS_COLLECTOR=1
Secret=miniflux_db_url,type=env,target=DATABASE_URL
Secret=miniflux_admin_passwd,type=env,target=ADMIN_PASSWORD
Secret=miniflux_oauth2_client_id,type=env,target=OAUTH2_CLIENT_ID
Secret=miniflux_oauth2_client_secret,type=env,target=OAUTH2_CLIENT_SECRET
Pod=news.pod

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target

