[Unit]
Description=Wallabag App Container
Requires=db.service
After=db.service
StartLimitIntervalSec=300
StartLimitBurst=5

[Container]
AutoUpdate=registry
ContainerName=wallabag
Image=docker.io/wallabag/wallabag:2.6.14
Volume=/home/app/wallabag/images:/var/www/wallabag/web/assets/images
Environment=POPULATE_DATABASE=false
Environment=POSTGRES_USER=wallabag
Environment=SYMFONY__ENV__DATABASE_DRIVER=pdo_pgsql
Environment=SYMFONY__ENV__DATABASE_HOST=localhost
Environment=SYMFONY__ENV__DATABASE_PORT=5432
Environment=SYMFONY__ENV__DATABASE_NAME=wallabag
Environment=SYMFONY__ENV__DATABASE_USER=wallabag
Environment=SYMFONY__ENV__DOMAIN_NAME=https://news.corvus-buri.ts.net
Environment=SYMFONY__ENV__DATABASE_TABLE_PREFIX="wallabag_"
Environment=SYMFONY__ENV__FOSUSER_REGISTRATION=false
Secret=news_db_passwd,type=env,target=POSTGRES_PASSWORD
Secret=news_db_passwd,type=env,target=SYMFONY__ENV__DATABASE_PASSWORD
Secret=news_secret,type=env,target=SYMFONY__ENV__SECRET
Pod=news.pod

[Service]
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
