[commit]
    gpgsign = true
[core]
    excludesfile = ~/.gitignore_global
[user]
    signingkey = 9CA4BF7F0DCC39CB
    name = Maisie Bell
    email = maisie@mbell.dev
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[pull]
    rebase = false
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
[includeIf "gitdir/i:~/work/**"]
    path = ~/.work.gitconfig
