[commit]
    gpgsign = true
[core]
    excludesfile = ~/.gitignore_global
[user]
    signingkey = 6413B9D409C2525799987FD0213831CC3ED4F1CA
    name = Maisie Bell
    email = 4870168+maisieccino@users.noreply.github.com
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[pull]
    rebase = false
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
# mac-specific settings
[includeIf "gitdir/i:~/work/**"]
    path = ~/.work.gitconfig
[merge]
    tool = nvimdiff
# Platform-specific config
[includeIf "gitdir/i:/Users/**"]
    path = ~/.gitconfig_mac
[includeIf "gitdir/i:/home/**"]
    path = ~/.gitconfig_linux
