[commit]
	gpgsign = true
[user]
	signingkey = 9CA4BF7F0DCC39CB
	name = Matt Bell
	email = matt@mbell.me
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[alias]
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolalt = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[includeIf "gitdir:~/github.com/limejump/"]
	path = ~/.lj.gitconfig
[includeIf "gitdir:~/go/src/github.com/limejump/"]
	path = ~/.lj.gitconfig
