@define-color background rgba(245, 242, 237, 0.8);
@define-color yellow #ffc700;
@define-color pink #FD98CE;
@define-color teal #8eEAEA;

#window {
  font-family: "FantasqueSansM Nerd Font Mono", monospace;
  font-size: 14px;
  transition-property: all;
  transition-duration: 0.5s;
}

window#waybar {
  background-color: transparent;
  color: #000000;
  font-family: "FantasqueSansM Nerd Font Mono", monospace;
  /* font-weight: 800; */
  font-size: 15px;
}

box.modules-left,
box.modules-center,
box.modules-right {
  background-color: @background;
  border-radius: 100px;
  transition-property: background-color;
  transition-duration: 0.5s;
}

box.modules-center,
box.modules-right {
  padding: 0 15px;
}

window#waybar.empty box.modules-center {
  background-color: rgba(100, 100, 100, 0);
}

.modules-center {
  background-color: @background;
}

#workspaces button {
  border-radius: 100px;
  border-width: 0;
  color: black;
}

#workspaces button:active {
  border-width: 0;
}

#workspaces button.active {
  background: linear-gradient(to bottom right, @yellow, @pink, @teal);
}

#custom-swaync {
  margin: -1 5px 0;
}
