scrape_configs:
  - job_name: 'todo'
    scrape_interval: 5s
    metrics_path: '/api/v1/metrics'
    static_configs:
      - targets: ['todo.corvus-buri.ts.net:3456']
  - job_name: 'miniflux'
    scrape_interval: 5s
    metrics_path: '/metrics'
    basic_auth:
      username: metrics
      password: metrics
    static_configs:
      - targets: ['rss.corvus-buri.ts.net']
  - job_name: 'node_pi'
    scrape_interval: 5s
    static_configs:
      - targets: ['localhost:9100']
  - job_name: 'node_optiflex'
    scrape_interval: 5s
    static_configs:
      - targets: ['optiflex.corvus-buri.ts.net:9100']
